<%= render 'shared/page_title', title: 'New Contribution' %>

<div class='row'>
    <div class='col-md-6 offset-md-3'>
        <div class='card card-block'>
            <%= render 'form', event: @event, contribution: @contribution %>
        </div>
    </div>
</div>